#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.github {
  font-size: 0.2em;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo-spin {
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}


.footer {
  background-color: #282c34;
  color: white;
  height: 3vh;
  margin: 0;
  padding: 2px 0;
    position: fixed;
    bottom: 0;
    left: 0; /* Optional: ensures it stretches from left edge */
    width: 100%; /* Optional: ensures it is full width */
    /* Add padding to your main content to prevent overlap */
}